
.bubbly{

  
  width: 80%;
  margin: 0 auto;


  .section__list{
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    margin: 0 auto;
    
    justify-content: space-evenly;

    .wine-item{
      display: grid;
      grid-template-columns: 60% 20% 20%;
      width: 40%;
      margin: 0 2rem;

      &-name{
        grid-column: 1;
        grid-row: 1;
      }

      &-origin{
        grid-column: 2;
        grid-row: 1;

      }

      &-price{
        grid-column: 3;
        grid-row: 1;

      }
    }

    
  }
}