.bubbly{
  width: 40%;
  margin: 0 auto;

  @include respond(tab-port){
    width: 80%;
    margin: 0 auto 2rem;
  }

  .section__list{
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    
    justify-content: space-evenly;

    @include respond(tab-port){
      flex-flow: column;
      margin: 0;
      width: 100%;
    }

    .wine-item{
      display: grid;
      grid-template-columns: 60% 20% 20%;
      margin: 0 2rem;

      @include respond(tab-port){
        width: 100%;
        grid-template-columns: 60% 20% 20%;
        margin: 0 0;
      }

      &-name{
        grid-column: 1;
        grid-row: 1;
      }

      &-origin{
        grid-column: 2;
        grid-row: 1;
      }

      &-price{
        grid-column: 3;
        grid-row: 1;
      }
    }
  }
}