// ================
// Diet Logo Legend
// ================
.diet-logo-legend{

  position: relative;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 4rem;

  font-size: $desktop-item-notes-fontsize;
  color: $dark-font;

  @include respond(tab-port){
    font-size: 2.8rem;
  }

  @include respond(phone){
    font-size: $phone-item-price-fontsize;
  }

  &--item{
    display: inline-block;
    height: 1.8rem;
    margin: 0 1rem;

    @include respond(tab-port){
      height: $phone-item-logo-size;
    }

    img{

      height: 1.4rem;
      position: relative;
      top: 0.3rem;

      @include respond(tab-port){
        transform: translateY(1rem);
      }
    }

    svg{
      position: relative;
      top: -0.2rem;
      height: 0.4rem;
      margin: 0 0.5rem;
    }
  }
}