// ===========
// FoodMenu.js
// ===========
.menu-dips{
  position: relative;

  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center; 

  &__title{
    margin-top: 2rem;

    @include respond(tab-port){
      margin-top: 0;
    }
  }

  &__list{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem;

    text-align: center;
    white-space: nowrap;

    color: $dark-font;
    font-size: $desktop-item-name-fontsize;

    @include respond(tab-port){
      padding: 0 2rem;
      font-size: $mobile-item-name-fontsize;
    }

    @include respond(phone){
      font-size: $phone-item-price-fontsize;
    }

    li {
      display: inline-block;
      margin: 1rem 1.2rem;
      font-weight: 500;

      @include respond(tab-port){
        margin: 0.3rem 0.9rem;
      }

      img{
        height: $desktop-item-name-fontsize - 0.1rem;
        margin-left: 0.4rem;

        @include respond(tab-port){
          height: 2.5rem;
        }
      }
    }
  }
}

