// ===========
// FoodMenu.js
// ===========
.menu-dips{
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 80vw;
  margin: 0 auto 5rem auto;

  @include respond(tab-port){
    width: 100%;
  }
  @include respond(phone){
    width: 100%;
  }

  &__title{
    font-size: $desktop-section-font-size;

    @include respond(tab-port){
      font-size: $mobile-section-font-size;
    }
  }

  &__list{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem;

    list-style: none;
    text-align: center;
    white-space: nowrap;
    color: $dark-font;


    li {
      display: inline-block;
      margin: 1rem 2rem;
      // font-size: 3rem;
      font-weight: 500;

      @include respond(tab-port){
        // font-size: 5rem;
      }

      img{
        height: 2.5rem;
        margin-left: 0.4rem;

        @include respond(tab-port){
          height: 4rem;
        }
      }
    }
  }
}