.cocktail{
  
  @include respond(tab-port){
    margin-top: 4rem;
  }
}

.wine-sizes{
  font-size: 1.8rem;
  color: $dark-font;

  @include respond(tab-port){
    font-size: 2.4rem;
  }
}

.wine-origin{
  color: $dark-font;
  font-size: 1.3rem;

  @include respond(tab-port){
    font-size: 1.8rem;
  }
}