.features{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.happy-hour{

  @include respond(phone){
    width: 90%;
  }
  
  .section__title{
    margin: 3rem 0 2rem 0;
    font-weight: 700;

    font-size: $desktop-section-fontsize + 1rem;
 
    @include respond(tab-land){
      font-size: $mobile-section-fontsize;
    }

    @include respond(phone){
      font-size: $phone-section-fontsize;
    }
  }
  .section__hh-subtitle{

    margin: 3rem;
    
    color: $dark-font;

    font-weight: 500;
    text-align: center;
    font-size: $desktop-item-notes-fontsize + 1rem;
    
    @include respond(tab-land){
      font-size: $mobile-item-notes-fontsize;
    }

    @include respond(tab-port){
      font-size: $mobile-item-notes-fontsize;
    }

    @include respond(phone){
      font-size: $phone-item-notes-fontsize;
    }

    > svg {
      @include respond(tab-port){
        display: none;
      }
    }
  }

  .hh-subtitle-time{
    display: inline-block;

    @include respond(tab-port){
      display: block;
    }
  }

  .section__list{
    align-items: center;
  }

  svg{
    height: 0.9rem;
    margin: 0 0.4rem 0 0.4rem;

    @include respond(phone){
      height: 0.7rem;
      transform: translateY(1rem);
    }
  }
}

.hh-item{
  display: flex;
  flex-flow: row nowrap;
  margin: 1rem;
  font-weight: 600;
  
  @include respond(phone){
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .item-name{
    @include respond(tab-port){
      font-size: $mobile-item-name-fontsize;
      // font-size: $mobile-item-name-fontsize - 0.2rem;
    }

    @include respond(phone){
      // font-size: $phone-item-name-fontsize - 0.6rem;
      font-size: $phone-item-name-fontsize;
    }
  }

  .item-price{
    margin: 0 0.5rem;

    @include respond(tab-port){
      margin: 0;
      font-size: $mobile-item-price-fontsize;
      // font-size: $mobile-item-price-fontsize - 0.2rem;
    }

    @include respond(phone){
      font-size: $phone-item-price-fontsize;
      // font-size: $phone-item-price-fontsize - 0.6rem;
    }
  }

  .item-size{
    color: $dark-font;
    font-size: $desktop-item-notes-fontsize;
    font-weight: 400;
    margin: 0 0.3rem;
  
    @include respond(tab-port){
      font-size: $mobile-item-notes-fontsize - 0.2rem;
    }
    @include respond(phone){
      font-size: $phone-item-notes-fontsize - 0.2rem;
    }
  }

  span{
    display: flex;
    flex-flow: row nowrap;
  }
}


.hh-item div {

  display: inline-block;
  margin: 0 0.1rem;
}
.smiley-face-wrapper{
  display: flex;
  flex-flow: row;
  justify-content: center;
}
