// =======
// Food.js
// =======
.food-item{
  position: relative;

  display: inline-block;
  flex: 2 1 40%;
  max-width: 500px;
  max-height: 20rem;
  margin: 0.5rem 0;

  font-size: $desktop-item-name-fontsize;


  @include respond(tab-port){
    position: relative;
    
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    flex: 0;
    width: 100%;
    max-width: none;
    max-height: none;
    margin-top: 1rem;


    font-size: $mobile-item-name-fontsize;
  }

  @include respond(phone){
    align-content: flex-start;
  }

  &--name{
    display: inline-block;

    text-transform: capitalize;

    
    @include respond(tab-port) {
      flex: 2 2 75%;
    }

    .dietlogo{
      display: inline;
      height: 1.4rem;
      margin: 0 0.3rem;
    
      @include respond(tab-port){
        height: 2.5rem;
        margin: 0 0.4rem;
      }
    }
  }

  &--price{
    display: inline-block;

    font-size: $desktop-item-price-fontsize;
    color: $dark-font ;

    @include respond(tab-port){
      flex: 2 1 15%;
      text-align: end;

      font-size: $mobile-item-price-fontsize;
    }

    svg{
      //set size of the dot with height property
      position: relative;

      height: 0.7rem; 
      margin: 0 1rem;

      @include respond(tab-port){
        height: 0rem;
      }
    }
  } 
  
  &--notes{

    color: $dark-font;
    font-size: $desktop-item-notes-fontsize;
    font-weight: 500;

    @include respond(tab-port){
      max-width: 90%;

      font-size: $mobile-item-notes-fontsize;
    }
  }
}

.burgers{
  font-size: 1.4rem;
  color: $dark-font;
  font-weight: 400;
  font-style: italic;
  text-transform: none;

  @include respond(tab-port){
    font-size: 2.2rem;
  }
}