.footer{
  position: relative;
  top: $desktop-nav-height; //if this changes, content needs adjusting too
  height: 25rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border: 4px dashed purple;

  @include respond(tab-port){
    flex-flow: column;
  }

  &-social-link{
    display: flex;
    flex-flow: column;
    align-items: center;

    @include respond(tab-port){
      align-items: flex-start;
    }

    img{
      height: 5rem;
    }
  }  
}