// =======
// Food.js
// =======
.food-item{
  position: relative;

  display: inline-block;
  flex: 2 1 40%;
  padding: 2rem;
  max-width: 500px;
  max-height: 20rem;

  font-size: 3rem;


  @include respond(tab-port){
    flex: 0;
    max-width: none;
    max-height: none;
    position: relative;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;

    font-size: 6rem;
  }

  @include respond(phone){
    

    font-size: 6rem;
  }
  
  &--name{
    display: inline-block;
    margin-right: 1rem;

    text-transform: capitalize;

    
    @include respond(tab-port) {
      flex: 2 2 75%;
    }

    .dietlogo{
      display: inline;
      height: 2rem;
      margin: 0 0.3rem;
    
      @include respond(tab-port){
        height: 6rem;
        margin: 0 0.4rem;
        
      }
    }
  }

  &--price{
    display: inline-block;

    font-size: 2.6rem;
    color: $dark-font ;

    @include respond(tab-port){
      flex: 2 1 15%;
      text-align: end;
      margin-right: 1.5rem;

      font-size: 6rem;
    }

    svg{
      //set size of the dot with height property
      position: relative;
      top: -2px;

      height: 1.2rem; 
      margin-right: 1rem;

      @include respond(tab-port){
        height: 0rem;
      }
    }
  } 
  
  &--notes{

    color: $dark-font;

    @include respond(tab-port){
      
      margin-top: 1rem;
    }
  }
}
