.small-plates-wrapper{
  display: flex;
  flex-flow: row nowrap;
}

.item-name{
  font-size: $desktop-item-name-fontsize;
  // color: $dark-font;
  // color: #eee;

  font-weight: 600;

  @include respond(tab-port){
    font-size: $mobile-item-name-fontsize;
  }

  @include respond(phone){
    font-size: $phone-item-name-fontsize;
  }
}

.item-price{
  font-size: $desktop-item-price-fontsize;
  // color: $dark-font;
  // color: #eee;
 
  @include respond(tab-port){
    font-size: $mobile-item-price-fontsize;
  }

  @include respond(phone){
    font-size: $phone-item-price-fontsize;
  }
}

.item-notes{
  font-size: $desktop-item-notes-fontsize;
  // color: $dark-font;
  // color: #eee;
  font-weight: 100;
  font-style: italic;

  @include respond(tab-port){
    font-size: $mobile-item-notes-fontsize;
  }
}

// separating dots. Badly implemented. Needs changing
svg{
  display: none;
}

.food-item{
  position: relative;
  flex: 2 1 40%;
  display: grid;

  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto 1fr;
  row-gap: 0.1rem;
  max-width: 34rem;
  max-height: 25rem;

  margin: 1rem;

  @include respond(tab-port){
    margin: 0.4rem 0;
    max-width: none;
    max-height: none;
    align-content: flex-start;
  }

  .item-name{
    display: inline-block;
    
    letter-spacing: 0;
    grid-column: 1;
    grid-row: 1 ;
    justify-self: start;
  }

  .item-price{
    display: inline-block;

    text-align: end;
    grid-column: 2;
    grid-row: 1;
  } 
  
  .item-notes{

    justify-self: start;
    grid-column: 1 / span 2;
    grid-row: 2;
  }
  .diet{
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 500;
    opacity: 0.8;
  }
}

.test-element{
  font-size: 112.5em;
}