////////////////////////////////////////////////
.food-section{
  
  position: relative;
  margin-bottom: 1rem;

  grid-column: 1 / span 2;
  
  display: flex;
  flex-flow: column;
  align-items: stretch;

  border-top: 3px solid $portland-red;
  
  @include respond(tab-port){
    margin-bottom: 1.5rem;
    align-items: stretch;
  }

  .section__title{
    align-self: flex-start;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 0.95em;
    text-align: center;
    color: $portland-red;

    margin-top: 2rem;
    padding-left: 1rem;

    @include respond(big-desk){
      font-size: 1.2em;
    }

    @include respond(phone){
      font-size: 1.2em;
    }
  }

  .section__list{

    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: stretch;
    padding: 1rem;
    justify-content: center;

    @include respond(tab-port){
      display: grid;
      grid-template-columns: 40vw 40vw;
      justify-content: space-around;
      align-items: stretch;
      
      text-align: start;
    }
    
    @include respond(phone){
      display: flex;
      flex-flow: column nowrap;
      align-items: stretch;
    }
  }
}