@use '../abstracts/vars';
@use '../abstracts/mixins';

////////////////////////////////////////////////
//////////// FOOD SECTION
.food-section {
  
  position: relative;
  margin-bottom: 1rem;

  min-width: 45%;
  
  display: flex;
  flex-flow: column;

  border-top: 3px solid vars.$portland-red;
  
  @include mixins.respond(tab-port){
    margin-bottom: 1.5rem;
    align-items: stretch;
  }

  .section-title {

  }

  .item-list {
    display: flex;
    flex-flow: row wrap;
    padding-left: 2rem;

    @include mixins.respond(tab-port){
      flex-flow: column nowrap;
      justify-content: space-around;
      align-items: stretch;
      padding-left: 0;  
    }
    
    @include mixins.respond(phone){
    
      flex-flow: column nowrap;
      align-items: stretch;
    } 
  }
}
///////////////////////////////////////
////////// SWEETS
.sweets {
  .item-list {
    grid-template-columns: 50% 50%;

    @include mixins.respond(tab-port) {
      grid-template-columns: 40vw 40vw;
    }
  }
}

///////////////////////////////////// 
///////////// BURGER ADDONS
.burger-addons {

  padding-left: 2rem;

  @include mixins.respond(phone) {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &-title {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  &-options {
    display: flex;
    flex-flow: row wrap;

    & div {
      flex: 1 2 33%;
    }
  }
}

//////////////////////////////////// 
////////// FOOD ITEMS
.food-section .menu-item {
  position: relative;
  margin: 1rem;
  flex: 0 2 30rem;
  
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto 1fr;
  row-gap: 0.1rem;

  @include mixins.respond(phone) {
    flex: 0 2 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;  
  }
  

  .item-name {
    display: inline-block;
    
    grid-column: 1 / span 2;
    grid-row: 1 ;
    justify-self: start;
    
  }

  .item-price {
    grid-column: 3;
    grid-row: 1;
    
    display: inline-block;
    padding-right: 0.7rem;
    
    @include mixins.respond(tab-port){
      padding-right: 0;
    }
  } 
  
  .item-notes {
    grid-column: 1 / span 3;
    grid-row: 2;
    justify-self: start;
  }

  .item-diet {
    opacity: 0.8;
  }
}


 ////////////////////////////////////
  ///////// SIDES
  // This all needs to be destroyed and rebuilt
.sides {
  
    @include mixins.respond(tab-port){
      max-width: unset;
      align-self: stretch;
    }

    .section__list{
      min-width: unset;

      display: flex;
      flex-flow: row wrap;

      max-width: unset;

      @include mixins.respond(tab-port){
        display: grid;
        grid-template-columns: auto auto;
        height: auto;
      }

      @include mixins.respond(phone){
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
      }
  
      .food-item{
        grid-template-columns: 80% 10%;
        grid-template-rows: auto;
        width: 70%; //good idea or no?
        margin-bottom: 0;  

        margin-top: 0.5rem;
        
        font-size: 0.6em;
        
        @include mixins.respond(tab-port){
          width: 45%;
          font-size: 0.8em;
          
        }

        @include mixins.respond(big-desk){
          font-size: 0.7em;
        }
        .item-price{
          grid-column: 2;
        }
      }
    }
  }
