.footer{
  position: relative;
  top: $desktop-nav-height; //if this changes, content needs adjusting too
  height: 25rem;
  width: 76vw;

  display: flex;
  flex-flow: column;
  align-items: flex-start;

  margin: 0 auto;
  padding: 3rem;
  

  font-size: 2rem;

  @include respond(tab-port){
    flex-flow: column;
    padding: 2rem 0;
    align-items: stretch;

    width: 100%;
    justify-content: space-between;
  }

  &-social{

    display: flex;
    flex-flow: column;
    align-items: center;

    @include respond(tab-port){
      align-items: flex-start;
    }

    @include respond(phone){
      flex-flow: row;
      
    }

    &-link{
  
      img{
        height: 5rem;
      }
    } 
  }
   
}