.food-menu__section-wrapper > section {

  @include respond(phone){
    // width: 100%;
  }
  
  .section__title{

    color: $portland-red;

    @include respond(tab-port){
      font-size: $mobile-section-fontsize;
      
    }

    @include respond(phone){
      align-self: center;
      
    }

    div{
      color: $dark-font;
      font-style: italic;
      font-size: $desktop-item-notes-fontsize;

      @include respond(tab-port){
        font-size: $mobile-item-notes-fontsize;
      }

      @include respond(phone){
        font-size: $phone-item-notes-fontsize;
      }
    }
  }

  .section__list{
    position: relative;
    box-sizing: border-box;

    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 $desktop-side-margin 3rem $desktop-side-margin;
    
    text-align: center;
    list-style: none;
    
    @include respond(tab-port){
      padding: 1rem 0;
      
      flex-flow: column;
      justify-content: flex-start;
      margin: 0 $mobile-side-margin 3rem $mobile-side-margin;

      text-align: start;
    }

    @include respond(phone){
      margin: 0 $phone-side-margin 2rem $phone-side-margin;
    }
  }
}

.food-item{
  position: relative;

  display: inline-block;
  flex: 2 1 40%;
  max-width: 500px;
  max-height: 20rem;
  margin: 0.5rem 0;

  font-size: $desktop-item-name-fontsize;


  @include respond(tab-port){
    position: relative;
    
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    flex: 0;
    width: 100%;
    max-width: none;
    max-height: none;
    margin-top: 1rem;


    font-size: $mobile-item-name-fontsize;
  }

  @include respond(phone){
    align-content: flex-start;
  }

  &--name{
    display: inline-block;

    text-transform: capitalize;
    color: $portland-red;
    font-weight: 500; 
    
    @include respond(tab-port) {
      flex: 2 2 75%;
    }

    .dietlogo:nth-of-type(1){
      margin-left: 0.4rem;  
    }

    .dietlogo{
      display: inline;
      height: 1.2rem;
      margin: 0 0.1rem;
    
      @include respond(tab-port){
        height: 2.5rem;
        margin: 0 0.4rem;
      }
    }
  }

  &--price{
    display: inline-block;

    font-size: $desktop-item-price-fontsize;
    color: $dark-font ;

    @include respond(tab-port){
      flex: 2 1 15%;
      text-align: end;

      font-size: $mobile-item-price-fontsize;
    }

    svg{
      //set size of the dot with height property
      position: relative;

      height: 0.5rem; 
      margin: 0 1rem;
      top: -0.2rem;
      // transform: translateY(-0.2rem);

      @include respond(tab-port){
        height: 0rem;
      }
    }
  } 
  
  &--notes{

    color: $dark-font;
    font-size: $desktop-item-notes-fontsize;
    font-weight: 500;

    @include respond(tab-port){
      max-width: 90%;

      font-size: $mobile-item-notes-fontsize;
    }
  }
}

.burgers{
  // font-size: 1.4rem;
  // color: $dark-font;
  
  
  // text-transform: none;

  // @include respond(tab-port){
  //   font-size: 2.2rem;
  // }
}