@use '../abstracts/vars';
@use '../abstracts/mixins';

.full-nav {
  box-sizing: content-box;
  width: inherit;
  
  height: vars.$desktop-nav-height;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;

  .nav-bknd-img-wrapper {
    position: absolute;
    width: 100%;
    height: vars.$desktop-nav-height;
    overflow: hidden;
  
    @include mixins.respond(big-desk) {
      background-color: purple;
    }
  
    img {
      object-fit: cover;
      width: 110%;
      filter: brightness(45%);
      transform: translate(-10rem, -52rem) rotate(-12deg);
  
      @include mixins.respond(desktop) {
        transform: translate(-10rem, -58rem) rotate(-12deg);
      }
    }
  }

  .nav-logo {
    position: relative;
    height: auto;
    width: auto;
    margin-top: 0;
    margin-right: vars.$desktop-side-margin / 2;
    margin-bottom: 0;
    margin-left: vars.$desktop-side-margin;
  }

  .button-group {
    position: relative;
    margin-top: 0;
    margin-right: vars.$desktop-side-margin;
    margin-bottom: 0;
    margin-left: vars.$desktop-side-margin;
    width: 100%;

    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }
}
