.full-nav{
  position: absolute;
  box-sizing: content-box;
  top: 0;

  width: 100%;
  height: $desktop-nav-height;
  padding-top: 2rem;
  display: flex;
  flex-flow: row;
  justify-content: center;

  @include respond(tab-port){
    position: absolute;
    width: 0;
    height: 0; 
    opacity: 0;
  }

  &__group-left, &__group-right, &__group-logo{
    height: $desktop-nav-element-height;
  }

  &__group-left, &__group-right{
    width: 30vw;
    display: flex;
    flex-flow: row;
    justify-content: space-around;

    button{
      border: none;
      
      background: none;
      font-size: $button-font-size;
      font-weight: 800;
      font-family: inherit;
      color: $portland-off-white;
      text-align: center;
      cursor: pointer;
      text-shadow: 
        0.3rem 0.3rem $button-font-shadow, 
        -1px 0 1px $button-font-outline, 
        0 -1px 1px $button-font-outline;
    }

    button:hover {
      color: $light-font-hover;
    }
    button:active{
      color: $portland-off-white;
      transform: translateY(0.1rem);
    }
  }

  &__group-logo{
    display: inline-block;
    // height: 10rem;
    padding-left: 1rem;

    img{
      height: 100%;
      display: inline-block;
    }
  }
}

.secondary-nav-scroll-target{
  position: absolute;
  top: $desktop-secondary-nav-top;

  @include respond(tab-port){
    display: none;
  }
}

.secondary-nav{
  position: fixed;
  top: 0;

  display: flex;
  flex-flow: row;

  width: 100%;
  height: $desktop-secondary-nav-height;
  
  background: black;
  
  opacity: 0;
  transform: translateY(-100%);
  transition: transform 0.3s;


  &__group{
    display: flex;
    flex-flow: row;
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;

    font-size: $button-font-size;
  }
}

.secondary-nav-open{
  @include respond(tab-port){
    display: none;
  }
  @include respond(desktop){
    opacity: 1;
    transform: translateY(0%);
  }
  @include respond(big-desktop){
    opacity: 1;
    transform: translateY(0%);
  }

}