.header{
  width: 100%;
  position: relative;
  display: inline-block;
  padding-top: 8rem;
  
  .header-photo-wrapper{
    position: absolute;
    overflow: hidden;
    transform: translate(0,-100px);
    z-index: -1;
    width: 100%; //setting this to 100vw causes the image to overflow the page
    
    img{
      position: relative;
      width: 100%;
      filter: brightness(0.7);
    }
  }
}