.menu-item{
  border: 1px solid black;
  width: 300px;
  padding: 2rem;
  max-height: 20rem;
  font-size: 3rem;
  display: inline-block;

  &-name{
    display: inline-block;
    margin-right: 1rem;
    color: $portland-red;
    text-transform: capitalize;
  }

  &-price{
    display: inline-block;
    
    svg{
      height: 1.2rem; //set size of the dot with this
      position: relative;
      top: -2px;
      margin-right: 1rem;
    }

    span{
      font-size: 3rem;
    }
  }

  &-notes{
    font-size: 1.8rem;
  }
}