.mobile-nav{
  position: absolute;
  width: 0;
  opacity: 0;
  
  z-index: 9;
  height: 100%;
  background: $soft-black;

  &__background-wrapper{
    position: relative;

  }
  
  @include respond(tab-port){
    position: relative;
    top: 0;
    width: 100%;
  
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
    opacity: 1;
  
  }

  @include respond(phone){
    
  }  

  &__buttons{

    
    @include respond(tab-port){
      
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      height: 100%;
      padding-right: $mobile-side-margin;
      background: $dark-font;
      
      color: $portland-off-white;
      text-shadow: 0.3rem 0.3rem $button-font-shadow;
      cursor: pointer;
    }
    
    @include respond(phone){
      padding-right: $phone-side-margin;
      font-size: $phone-nav-fontsize;
    }
    
    
  }
  
  &__logo{

    display: inline-block;
    height: $desktop-nav-logo-height;

    z-index: 9;
    cursor: pointer;
    background: $dark-font;

    @include respond(tab-port){
      height: $mobile-nav-height;
      padding-right: $mobile-side-margin;
    }

    @include respond(phone){
      height: $phone-nav-height - 1rem;
      padding-right: $phone-side-margin - 1rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }

    img{
      height: 100%;
    }
  }  
}

.mobile-nav-drawer{
  position: absolute;
  top: -20%;
  z-index: -1;
  height: 120%;

  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  background: $portland-red;
  
  transition: transform 0.3s;

  button{
    margin: 0 1rem;

    @include respond(phone){
      margin: 0 3rem;
    }
  }
}

.opendrawer{
  @include respond(tab-port){
    transform: translateY(100%);
  }
}

.menu-burger{
  background: $dark-font;
  width: 100%;
  height: 100%;

  svg{
    position: relative;
    top: $mobile-nav-height / 4;
    left: 4rem;
    rect{
      fill: $portland-beige;
    }
  }
}