.mobile-nav{
  display: none;
  
  @include respond(tab-port){
    display: flex;
  }
  
  position: fixed;
  top: 0;
  flex-flow: row nowrap;
  width: 100%;
  align-items: center;
  height: $mobile-nav-height;

  background-color: $alt-dark-font;

  &__button-group{

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;

    & button{
      background-color: $alt-dark-font;
    }
  }
  
  &__logo{
    display: inline-block;
    height: $mobile-nav-height - 1.4rem;
    padding-left: $mobile-side-margin;

    background-color: $alt-dark-font;

    @include respond(phone){
      height: $phone-nav-logo-height;
      padding-left: $phone-side-margin - 1rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }

    img{
      height: 100%;
    }
  }  
}