.nav-hat-wrapper{
  height: $page-height;
  position: absolute;
}

.background-photo-wrapper{
  opacity: 1;

  @include respond(tab-port){
    opacity: 0;
  }
}

.full-nav{
  position: relative;
  width: 100%;
  box-sizing: content-box;

  padding-top: 2rem;
  height: $desktop-nav-height;
  flex-flow: row;
  align-items: center;
  justify-content: center;

  @include respond(tab-port){
    position: absolute;
    width: 0;
    height: 0; 
    opacity: 0;
  }

}

.mobile-nav{

  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;

  
  @include respond(tab-port){

    position: fixed;
    box-sizing: content-box;
    top: 0;
    z-index: 6;
    width: 100%;
  
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    opacity: 1;
  
    background-color: $soft-black;
    height: $mobile-nav-height;
  }

  @include respond(phone){
    height: $phone-nav-height;
  }
  

  &__btns{
    width: 100%;
    z-index: 7;

    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    padding: 0 auto;
    margin-left: $desktop-side-margin;
    align-items: center;

    font-size: 2.5rem;
    font-weight: 800;
    color: $portland-off-white;
    text-shadow: 0.3rem 0.3rem $font-shadow;
    cursor: pointer;

    @include respond(tab-port){
      margin-left: $mobile-side-margin;
      font-size: 2.6rem;
    }

    @include respond(phone){
      margin-left: $phone-side-margin;
      font-size: 2rem;
    }

    &-btn{
      text-align: center;
      margin-right: 5rem;
    }
  }

  &__logo{

    display: inline-block;
    height: $desktop-nav-logo-height;
    margin-right: $desktop-side-margin;

    @include respond(tab-port){
      height: $mobile-nav-logo-height;
      margin-right: $mobile-side-margin;
    }

    @include respond(phone){
      height: $phone-nav-logo-height;
      margin-right: $phone-side-margin - 1rem;
    }

    img{
      height: 100%;
    }
  }
}
