.nav-hat-wrapper{
  position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
  z-index: 100;

  @include respond(tab-port){
    position: sticky;
    height: $mobile-nav-height;
  }

  @include respond(phone){
    height: $phone-nav-height;
  }
}

button {

  border: none;     
  
  text-align: center;
  background: none;
  font-weight: 800;
  font-family: inherit;
  color: $portland-off-white;
  cursor: pointer;
  text-shadow: 
    0.3rem 0.3rem $button-font-shadow, 
    -1px 0 1px $button-font-outline, 
    0 -1px 1px $button-font-outline;

  @include respond(tab-port){
    font-size: $mobile-nav-fontsize;
  }

  @include respond(phone){
    font-size: $phone-nav-fontsize;
  }
}

