.nav-hat-wrapper{
  position: fixed;
  // width: 100vw;
  width: 100%;
  top: 0;
  overflow: hidden;
  z-index: 2;

  button {
    border: none;
    cursor: pointer;
    background: none;
    text-align: center;

    font-size: 2.6em;
   
    @include newHeadingShadow();

  }

  button:hover {
    color: $light-font-hover;
  }

  button:active{
    color: $portland-off-white;
    transform: translateY(0.1rem);
  }

  nav{
    .logo{
      position: relative;
      height: auto;
      width: auto;
      margin: 0 $desktop-side-margin/2 0 $desktop-side-margin;
  
      @include respond(phone){
        height: $phone-nav-logo-height;
        padding: 0;
        margin-right: 0;
        margin-left: $phone-side-margin;
      }
    }

    .button-group{
      position: relative;
      margin: 0 $desktop-side-margin 0 $desktop-side-margin;
      width: 100%;

      display: flex;
      flex-flow: row;
      justify-content: space-between;
  
      font-weight: 700;
      font-family: inherit;
    }
  }  
}
nav{ z-index: 1;}
nav div{ z-index: 2;}

button.button-current-page{
  border-bottom: 3px solid $portland-red;
  box-sizing: content-box;
  margin-bottom: -3px;
}
