@use '../abstracts/vars';
@use '../abstracts/mixins';
/////////////////// 
.drinks-menu {

  .drink-section.non-alcoholic-section {
  
    .item-list {
      display: flex;
      flex-flow: row wrap;
  
      .nonalc-item {
        flex: 0 2 30rem;

        display: flex;
        flex-flow: row;
        justify-content: space-between;
        width: 100%;

        @include mixins.respond(phone){
          flex: 2 2 30rem;
        }
        

        &-name {
          grid-column: 1 / span 2;
        }

        &-price {
          grid-column: 3;
          text-align: start;
          padding-right: 2rem;
          

          @include mixins.respond(phone) {
            padding-right: 0;
          }
        }
      }
    }
  }
}