.wine-item{
  margin: 0.3rem 0;
  position: relative;

  display: grid;
  grid-template-columns: 6fr 6fr 1.5fr 4fr;
  grid-template-rows: auto auto;

  letter-spacing: -0.05rem;

  @include respond(phone){
    margin: 0;
  }

  &-name{
    grid-column: 1;
    grid-row: 1;

    font-size: 0.7em;

    @include respond(phone){
      font-size: 0.9em;
    }
  }

  &-varietal{
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
    padding-right: 0.5rem;

    font-size: 0.6em;
    
    @include respond(phone){
      grid-column: 2;
      grid-row: 1;
      justify-self: start;

      font-size: 0.85em;
    }
  }

  &-region{
    grid-column: 3;
    grid-row: 1;
    justify-self: end;

    font-size: 0.5em;
    

    @include respond(phone){
      font-size: 0.65em;
      line-height: 2;
    }
  }

  &-price{
    grid-column: 4;
    grid-row: 1;
    justify-self: end;

    font-size: 0.65em;

    @include respond(phone){
      font-size: 0.65em;
      line-height: 2;
    }
  }
}