.red, .white, .bubbly {
  display: flex;
  flex-flow: column;

  @include respond(tab-port){
    width: 80%;
  }
}

.red, .white{
  width: 60%;

  @include respond(tab-port){
    width: 90%;
  }
}

.wine-item{
  position: relative;

  display: grid;
  grid-template-columns: auto auto ;
  grid-template-rows: 50% 50%;
  width: 100%;
  margin-bottom: 0.5rem;

  letter-spacing: -0.05rem;

  &-name{
    grid-column: 1;
    grid-row: 1;
  }

  &-varietal{

    grid-column: 1;
    grid-row: 2;
    color: #eee;
    font-size: $desktop-item-name-fontsize - 0.3rem;

    @include respond(tab-port){
      justify-self: start;
      font-size: $mobile-item-name-fontsize - 0.3rem;
    }

    @include respond(phone){
      font-size: $phone-item-name-fontsize - 0.3rem;
    }
  }

  &-price{

    grid-column: 2;
    grid-row: 1;
    justify-self: end;

    svg{

      height: $desktop-item-price-dot; //rename this sass var
      margin-right: 1.5rem;
    }
  }
}

.wine-sizes{

  font-size: $desktop-item-price-fontsize; 
  font-weight: 400;
  color: #eee;
  align-self: flex-end;

  @include respond(tab-port){
    font-size: $mobile-item-price-fontsize;
  }

  @include respond(phone){
    font-size: $phone-item-price-fontsize;
  }

}