.wine-sizes{

  font-size: 1.8rem;
  color: $dark-font;
  font-weight: 500;

}

.wine-item{

  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 30% 30% 20% 20% ;
  grid-template-rows: 100%;
  width: 100%;

  letter-spacing: -0.05rem;
  font-size: $desktop-item-name-fontsize;
  font-weight: 500;

  &-name{

    font-size: $desktop-item-name-fontsize;
  }

  &-varietal{
    
    color: $dark-font;
    font-size: $desktop-item-name-fontsize;
  }
  
  &-origin{
    
    color: $dark-font;
    font-size: 1.3rem;
    line-height: 2.6rem;
    justify-self: start;
  }

  &-price{

    color: $dark-font;
    font-size: $desktop-item-price-fontsize ;
    justify-self: end;

    svg{

      height: $desktop-item-price-dot;
      margin-right: 1.5rem;
    }
  }
}

// <section>
.red.section__list, .white.section__list{
  width: 90%;
  justify-items: center;
}
.red.section__title{
  transform: translateX(50%);
}
.white.section__title{
  transform: translateX(-50%);
}
.red.section__list{
  align-content: end;
}

.white.section__list{
  align-content: start;
}