@include respond(tab-port){
  
  .mobile-nav{
    height: $mobile-nav-height;
  
    &__btns{
  
      margin-left: $mobile-side-margin;
      font-size: 2.6rem;
    }
  
    &__logo{

      height: $mobile-nav-logo-height;
      margin-right: $mobile-side-margin;
    }
  }
}

