a{
  text-decoration: none;
  transform: scale(1, 0.95);
}

a:visited { color: $light-font-visited ;}
a:hover   { color: $light-font-hover ;}
a:active  { color: $portland-off-white ;}

nav {
  #nav-group-left, #nav-group-right{
    a{
      font-size: 1.6rem;
      letter-spacing: 0.1rem;
    }
  }
}

#landing-page{

  #header{

    #header-tag{
      color: $portland-off-white;
      font-size: 7rem;
      text-align: center;
      font-weight: 800;
      line-height: 7.8rem;
    }
  }

  #mid-section{

    #mid-button-wrapper{
      text-decoration: none;
      font-size: 1.8rem;
      color: #ccc;

    }
  }
}