html{
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

// link visited hover active focus, in that order. 
// focus is an accessability thing, and actually the easiest to miss and most important. it affects cycling through elements with the tab key, when you don't have or can't use a mouse
a{
  text-decoration: none;
  transform: scale(1, 0.95); // TODO - move this to navhat
  // font-size: 2rem;
  letter-spacing: 0.1rem;
  color: $light-font;

  @include respond(tab-port){
    font-size: 6rem;
  }
}

a:visited { color: $light-font-visited ;}
a:hover   { color: $light-font-hover ;}
a:active  { color: $portland-off-white ;}
a:focus   { color: $light-font-hover ;}

#landing-tag{
  color: $portland-off-white;
  font-size: 7rem;
  text-align: center;
  font-weight: 800;
  line-height: 7.8rem;
}

#mid-button-wrapper{
  text-decoration: none;
  font-size: 1.8rem;
  color: #ccc;
}

// .smaller-text{
//   font-size: 2rem;

//   @include respond(tab-port){
//     font-size: 3rem;
//   }
// }



