#landing-page{

  #header{

    nav {
      font-size: 1.4rem;

      a{
        text-decoration: none;
        color: $light-font;
        letter-spacing: 0.1rem;
      }
      a:visited{
        // color: $light-font-visited;
        color: $light-font-visited;
      }
    
      a:hover{
        // color: $light-font-hover;
        color: $light-font-hover;
      }
    
      a:active{
        color: $portland-off-white;
      }
    }
    &-tag{
      color: $portland-off-white;
      font-size: 7rem;
      text-align: center;
      font-weight: 800;
      line-height: 7.8rem;
    }
  }

  & #mid-section{

    & #mid-button-wrapper{
      text-decoration: none;
    }
  }
}