.drinks-menu{

  position: relative;
  top: $desktop-fullnav-height;

  margin: 0 auto 6rem auto;
  padding-top: $desktop-pad-top;
  width: 65vw;

  background-color: $portland-off-white;
  color: $portland-red;
  font-size: 2.5rem;

  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 25% 25%;
  justify-items: center;


  &__section-wrapper{
    width: 100%;
  }
  
  
  //red wine
  &__section-wrapper:nth-of-type(1){
    grid-column: 1;
    grid-row: 1;
    width: 80%;
    margin-left: 7rem;
  }

  //white wine
  &__section-wrapper:nth-of-type(2){
    grid-column: 2;
    grid-row: 1;
    width: 80%;
    margin-right: 7rem;
  }

  //bubbly
  &__section-wrapper:nth-of-type(3){
    grid-column: 1 / span 2;
    grid-row: 2;
  }

  //cocktails
  &__section-wrapper:nth-of-type(4){
    grid-column: 1 / span 2;
    grid-row: 3;
    margin-top: 6rem;
    width: 80%;
  }


}
