
.drinks-menu{
  position: relative;
  top: $desktop-nav-height; 
  margin: 1rem auto 3rem auto;
  width: 76vw;

  display: grid;
  grid-template-columns: 50% 50%;

  @include respond(tab-port){
    top: $mobile-nav-height;
    width: 95vw;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  .red-wine-section{ grid-column: 1; }
  .white-wine-section{ grid-column: 2; }

  .bubbly-wine-section{
    grid-column: 1 / span 2;
    width: 50%;
    justify-self: center;
  }

  .wine-section{
    width: 100%;
    margin: 0 1rem;

    display: grid;
    grid-template-columns: 3fr 4fr 3fr;
    grid-template-rows: auto auto;

    font-size: 2.5rem;

    .wine-section-title{
      grid-column: 2;
      grid-row: 1;
      justify-self: center;
      padding-bottom: 0.5rem;
      
      font-size: 1.2em;
      color: $portland-red;
    }
    
    .wine-sizes{
      grid-column: 3;
      grid-row: 1;
      justify-self: end;
      align-self: end;
      padding-bottom: 0.5rem;
      
      font-size: 0.8em;
    }

    .wine-list{
      grid-column: 1 / span 3;
      grid-row: 2;
    }
  }
}

.wine-item{

  display: grid;
  grid-template-columns: auto auto 25%;
  grid-template-rows: 50% 50%;

  letter-spacing: -0.05rem;

  &-name{
    grid-column: 1;
    grid-row: 1;
    // font-size: 0.9em;
  }

  &-varietal{
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
    // font-size: 0.9em;

    
    @include respond(small-phone){
      grid-column: 1;
      grid-row: 2;
      justify-self: start;
    }
  }

  &-price{
    grid-column: 3;
    grid-row: 1;
    font-size: 0.8em;
    justify-self: end;
  }
}
