
.drinks-menu{
  position: relative;
  top: $desktop-nav-height; 
  margin: 3rem auto;
  width: 76vw;

  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto;

  font-size: 2.5rem;

  @include respond(tab-port){
    top: $mobile-nav-height;
    width: unset;
    padding: 1rem;
    grid-template-columns: repeat(12, 1fr);
  }

  @include respond(phone){
    display: flex;
    flex-flow: column;
    align-items: stretch;
  }
  .section-title{
    padding-bottom: 1rem;
    font-weight: 600;

    @include respond(phone){
      font-size: 1.2em;
      margin-top: 2rem;
      margin-left: 1rem;
    }
  }
  
  .section-list{
    padding: 1rem 5rem;
    display: flex;
    flex-flow: column;
    align-items: stretch;

    @include respond(phone){
      padding-left: 2rem;
      padding-right: 2rem;
      margin-bottom: 2rem;
    }
  }
}

.drink-section{
  display: flex;
  flex-flow: column;
  align-items: stretch;
}