//FOODMENU.JS
.food-menu{

  display: flex;
  flex-flow: column;
  align-items: center;

  section{

    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 1rem;
  }
}

.starters::before{ 
  @include desktopPseudoDivider(); 
  @include respond(tab-port){
    @include mobilePseudoDivider();
  }
}
.mains::before{ 
  @include desktopPseudoDivider(); 
  @include respond(tab-port){
    @include mobilePseudoDivider();
  }
}
.burgers::before{ 
  @include desktopPseudoDivider(); 
  @include respond(tab-port){
    @include mobilePseudoDivider();
  }
}

.menu-dips::before{
  @include desktopPseudoDivider();
  @include respond(tab-port){
    @include mobilePseudoDivider();
  }
}

.diet-logo-legend::before{
  @include desktopPseudoDivider();
  @include respond(tab-port){
    @include mobilePseudoDivider();
  }
}


