.food-menu{

  section{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
  
    .section__list{
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      
      @include respond(tab-port){
        flex-flow: column;
        margin: 0 $mobile-side-margin 3rem $mobile-side-margin;
  
        text-align: start;
      }
  
      @include respond(phone){
        margin: 1rem $phone-side-margin 2rem $phone-side-margin;
      }
    }
  }

  section:not(:first-child){
    @include sectionBorderTop();
  }
}

.snacks .section__title{
  color: $potential-blue;
}
.omnivores .section__title{
  color: $portland-red;
}
.herbivores .section__title{
  color: $maybe-green;
}
