@use '../abstracts/vars';
@use '../abstracts/mixins';

.happy-hour-menu {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  .happy-hour-section {
    margin: 1rem auto 3rem auto; // margin auto? seems unnecessary
  
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, auto);
    justify-items: center;
  
    @include mixins.respond(tab-port) {
      margin: 1rem 0;
      width: 95vw;
  
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
    } 

    .section-title {
      grid-column: 3 / span 2;
      grid-row: 1;
  
      @include mixins.respond(phone) {
        margin-bottom: 2rem;
      }
    }

    .happy-hour-time {

    }

    .item-list {

      .menu-item {
        display: flex;
        flex-flow: row nowrap;
        margin: 1rem;
        
        @include mixins.respond(phone){
          width: 100%;
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
        }

        .item-price {
          margin: 0 0.5rem;
      
          @include mixins.respond(tab-port){
            margin: 0;
          }
        }

        .item-size {
          margin: 0 0.3rem;
        }

        span {
          display: flex;
          flex-flow: row nowrap;
        }
      }
    }
  }
}

// child of .happy-hour-menu.happy-hour-section
.happy-hour-food-section {

}

.hh-item div {

  display: inline-block;
  margin: 0 0.1rem;
}
.smiley-face-wrapper{
  display: flex;
  flex-flow: row;
  justify-content: center;
  width: 100%;

  img{
    //the svg isn't centered properly, so this corrects that until I edit it
    position: relative;
    left: -6px;
  }
}

.sunday-social-section{

  position: relative;
  width: 76vw;
  margin-top: 2rem;

  display: flex;
  flex-flow: column;
  align-items: stretch;


  @include mixins.respond(phone){
    width: 96vw;
  }

  .section__title{
    display: flex;
    flex-flow: row;
    align-items: flex-end;
    justify-content: center;

    color: vars.$portland-red;
    font-size: 2.3em;

    @include mixins.respond(small-phone){
      font-size: 2em;
    }

    span:nth-of-type(2){
      font-size:0.5em;
      line-height: 1.65em;
    }
  }
  .section__title:last-child{
    line-height: 1em;
    font-size: 1em;
  }

  p{
    font-weight: 400;
    font-size: 1.4em;
    text-align: center;

    @include mixins.respond(phone){
      font-size: 0.9em;
    }
  }
}
.smaller-text{
  font-size: 1.5rem;
}