@use '../abstracts/vars';
@use '../abstracts/mixins';

.happy-hour-menu {
  

  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  font-size: 2.5rem;

}

.happy-hour-section{

  // COPIED FROM FOOD MENU
  position: relative;
  margin: 1rem auto 3rem auto;
  width: 76vw;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, auto);
  justify-items: center;

  color: vars.$brown-q;

  @include mixins.respond(tab-port){
    // top: vars.$mobile-nav-height + 3rem;
    margin: 1rem 0;
    width: 95vw;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  .section__title{
    grid-column: 3 / span 2;
    grid-row: 1;

    font-size: 2.3em;
    font-weight: 500;
    color: vars.$portland-red;

    @include mixins.respond(phone){
      margin-bottom: 2rem;
    }
  }

  .section__hh-subtitle{
    grid-column: 2 / span 4;
    grid-row: 2;

    display: flex; 
    flex-flow: row;
    
    color: vars.$dark-font;
    font-weight: 500;
    text-align: center;
    justify-items: stretch;
    font-size: 1em;

    .hh-subtitle-time{
      display: inline-block;
  
      @include mixins.respond(tab-port){
        display: block;
      }
    }

    .hh-subtitle-time:nth-of-type(1){
      margin-right: 2rem;
    }
    .hh-subtitle-time:nth-of-type(2){
      margin-left: 2rem;
    }
  }

  .hh-food-title, .hh-drinks-title{
    margin: 3rem 0 2rem 0;
    color: vars.$portland-red;
    font-size: 1.2em;
    font-weight: 600;

    @include mixins.respond(phone){
      margin-top: 1rem;
    }
  }

  .hh-food-title{
    grid-column: 2 / span 2;
    grid-row: 3;
    text-align: center;
  }

  .hh-food-list{
    grid-column: 1 / span 3;
    grid-row: 4;
    margin-bottom: 2rem;
  }

  .hh-drinks-title{
    grid-column: 4 / span 2;
    grid-row: 3;
    text-align: center;
  }

  .hh-drinks-list{
    grid-column: 4 / span 3;
    grid-row: 4;
  }  
}

.hh-item{
  display: flex;
  flex-flow: row nowrap;
  margin: 1rem;
  font-size: 0.95em;
  
  @include mixins.respond(phone){
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .item-price{
    margin: 0 0.5rem;
    font-size: 0.9em;

    @include mixins.respond(tab-port){
      margin: 0;
    }
  }

  .item-size{
    color: vars.$dark-font;
    font-weight: 400;
    margin: 0 0.3rem;
    font-size: 0.7em;
  }

  span{
    display: flex;
    flex-flow: row nowrap;
  }
}

.hh-item div {

  display: inline-block;
  margin: 0 0.1rem;
}
.smiley-face-wrapper{
  display: flex;
  flex-flow: row;
  justify-content: center;
  width: 100%;

  img{
    //the svg isn't centered properly, so this corrects that until I edit it
    position: relative;
    left: -6px;
  }
}

.sunday-social-section{

  position: relative;
  width: 76vw;
  margin-top: 2rem;

  display: flex;
  flex-flow: column;
  align-items: stretch;


  @include mixins.respond(phone){
    width: 96vw;
  }

  .section__title{
    display: flex;
    flex-flow: row;
    align-items: flex-end;
    justify-content: center;

    color: vars.$portland-red;
    font-size: 2.3em;

    @include mixins.respond(small-phone){
      font-size: 2em;
    }

    span:nth-of-type(2){
      font-size:0.5em;
      line-height: 1.65em;
    }
  }
  .section__title:last-child{
    line-height: 1em;
    font-size: 1em;
  }

  p{
    font-weight: 400;
    font-size: 1.4em;
    text-align: center;

    @include mixins.respond(phone){
      font-size: 0.9em;
    }
  }
}
.smaller-text{
  font-size: 1.5rem;
}