#landing-page{
  height: 300vh;
  position: static;
  
  #header{
    position: static;
    display: flex;
    align-items: center;
    flex-flow: column;

    &-photo-wrapper{
      position: absolute;
      overflow: hidden;
      top:-230px;
      z-index: -1;
      width: 100%; //setting this to 100vw causes the image to overflow the page
    
      img{
        position: relative;
        width: 100%;
      }
    }
    
    //navbar...

    &-tag{
      margin: 5rem auto;
    }
  }
}

