#landing-page{
  top: $header-offset;
  height: 300vh;
  position: relative;
  border: 2px dashed purple;

  #landing-tag{
    // margin: 6rem auto;
    text-align: center;
  }

  #mid-section{
    border: 7px dashed orange;
    background-color: #fff;
    height: 500px;
    transform: translate(0, $header-offset);
  }
}

