// =======
// Menu.js
// =======
.menu{
  // POSITIONING
  // DISPLAY & BOX MODEL
  // COLOR
  // TEXT
  // OTHER

  position: absolute;
  top: $desktop-nav-height;

  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  margin: 0 auto 6rem auto;
  padding-top: $desktop-pad-top;

  background-color: $portland-off-white;

  @include respond(tab-port){
    top: $mobile-nav-height;
    display: inline-block;
    padding-top: 0;
  }

  // =======================
  // DrinksMenu and FoodMenu
  // =======================
  &__page-divider{

    position: relative;

    border: 0.4rem solid #bd141b;
    height:2px;
    width: 90%;
    margin: 2rem 0;

    @include respond(tab-port){
      margin: 2rem auto;
    }
  }

  &__section-wrapper{
    
    position: relative;
    max-width: 100%;
  }
  // Section here
  // Dips here
}

// =========================================
// FoodSection, WineSection, CocktailSection
// =========================================
section {
  position: relative;

  @include respond(tab-port){
    align-items: start;
  }

  .menu-section__title{
    text-align: center;
  }

  .menu-section__wrapper{
    position: relative;

    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 3rem 0;
    justify-content: center;
    width: 100%;

    text-align: center;
    list-style: none;
    
    @include respond(tab-port) {
      display: block;
      text-align: start;
    }
  }
}
