@use '../abstracts/vars';

// generalized responsive design breakpoints
@mixin respond($breakpoint){
  @if $breakpoint == small-phone {
    @media screen and (max-width: 25em) { @content };
  }
  @if $breakpoint == phone {
    @media screen and (max-width: 37.5em) { @content }; // 600px
  }
  @if $breakpoint == tab-port {
    @media screen and (max-width: 56.25em){ @content }; // 900px | 1em = 38.4px
  }
  @if $breakpoint == tab-land {
    @media screen and (max-width: 75em) { @content }; // up to 750px? 1200px | 1em = 48px
  }
  @if $breakpoint == desktop { // 760 - 1120?
    @media (min-width: 76em) and (max-width: 112em){ @content };
  }
  @if $breakpoint == m-desktop { //1130 - 1240?
    @media (min-width: 113em ) and (max-width: 124em){ @content };
  }
  @if $breakpoint == big-desk {
    @media screen and (min-width: 125em) { @content }; // 1800px?
  }
}

@mixin fontShadow(){
  text-shadow: 
    0.3rem 0.3rem vars.$button-font-shadow, 
    -1px 0 1px vars.$button-font-outline, 
    0 -1px 1px vars.$button-font-outline;
}

@mixin newHeadingShadow(){
  color: white;
  text-shadow: 0.06em 0em 0.03em vars.$goth-lavender, 0.1em 0 vars.$potential-blue;
}

@mixin desktopPseudoDivider(){
  content: '';
  position: absolute;
  left: 50%;
  top: 1.5rem;

  border: 0.3rem solid vars.$portland-red;
  height: 0.2rem;
  width: 88%;
  margin: -3rem -44%;
}

@mixin mobilePseudoDivider(){
  content: '';
  position: absolute;
  left: 50%;
  top: 1rem;

  border: 0.4rem solid vars.$portland-red;
  height: 0.3rem;
  width: 90%;
  margin: -2rem -45%;
}

@mixin singleLinePseudoDivider($width){
  content: '';
  position: absolute;
  left: 50%;
  top: 1rem;

  border-top: 0.4rem solid vars.$portland-red;  
  width: vars.$width or 90%;
  margin: -2rem (-vars.$width/2 or -45%);
}

@mixin sectionBorderTop(){
  border-top: 3px solid vars.$portland-red;
}