/*
In this file:
- any property with "font" in the name
- any property with "text" in the name
- color
- line-height
*/

@use "./vars";
@use "./mixins";

.nav-hat {
  .full-nav {

    a {
      text-decoration: none;
      font-weight: bold;
      font-size: 3rem;
      @include mixins.newHeadingShadow();
    }
    a:link {     color: #dedede; }
    a:visited {  color: #d4d4d4; }
    a:hover {    color: #d1d1d1; }
    a:active {   color: #f7f7f7; }
    a:focus {    color: #f7f7f7; }
  }

  .mobile-nav {

    a {
      text-decoration: none;
      font-weight: bold;
      font-size: 2rem;
      @include mixins.newHeadingShadow();
    }
    a:link {     color: #dedede; }
    a:visited {  color: #d4d4d4; }
    a:hover {    color: #d1d1d1; }
    a:active {   color: #f7f7f7; }
    a:focus {    color: #f7f7f7; }

  }
}

.menu {

  font-size: 2.5rem; 
  color: vars.$brown-q; // todo - consider moving to .menu?

  .section-title {
    color: vars.$portland-red;
    font-weight: 600;

    @include mixins.respond(tab-port) {
      font-size: 1.5em;
    }
  }
}

.menu-item {

  .item-name {
    letter-spacing: 1.1px;
    font-size: 0.8em; 
  }

  .item-price {
    text-align: end;
    font-size: 0.7em;
  }

  .item-notes {
    font-size: 0.6em;
    // font-weight: 100;
    font-style: italic;
  }

  .item-diet {
    font-size: 0.6em;
    font-weight: 500;

    @include mixins.respond(tab-port) {
      font-size: 0.8em;
    }
  }
}

.food-menu {
  p {
    font-size: 0.7em;
    font-style: italic;
  }

  .snacks .section-title{
    color: vars.$potential-blue;
  }

  .burger-addons {

    &-title {
      font-size: 1.6rem;
      
      @include mixins.respond(tab-port) {
        font-size: 2.4rem;
      }
    }

    &-options {
      & div {
        font-size: 1.4rem;

        @include mixins.respond(tab-port) {
          font-size: 2rem;
        }
      }
    }
  }
}

.drinks-menu { 

}

.happy-hour-menu {

  .happy-hour-section {

    .section-title {
      
    }

    .item-list {
      .menu-item {
        .item-price {
          font-size: 0.9em; // todo - change this
        }

        .item-size {
          color: vars.$dark-font;
          font-weight: 400;
          font-size: 0.7em;
        }
      }
    }
  }
}

.packaged-section {
  .packaged-formats {
    font-size: 0.7em;
  }
}

.redwine-item-name.item-name,
.whitewine-item-name.item-name,
.bubbles-item-name.item-name {
  font-size: 0.75em;
}

.wine-sizes {
  font-size: 0.6em;
  text-align: end;
  letter-spacing: 0.12rem;
}

.wine-item-varietal {
  font-size: 0.75em;
}

.wine-item-region {
  font-size: 0.6em;
}

.nonalc-item.menu-item {
  .nonalc-item-name.item-name {
    font-size: 0.65em;
  }
}