/*
In this file:
- any property with "font" in the name
- any property with "text" in the name
- color
- line-height
*/

@use "./vars";
@use "./mixins";

.nav-hat {
  .full-nav {

    a {
      text-decoration: none;
      font-weight: bold;
      font-size: 3rem;
      @include mixins.newHeadingShadow();
    }
    a:link {     color: #dedede; }
    a:visited {  color: #d4d4d4; }
    a:hover {    color: #d1d1d1; }
    a:active {   color: #f7f7f7; }
    a:focus {    color: #f7f7f7; }
  }

  .mobile-nav {

    a {
      text-decoration: none;
      font-weight: bold;
      font-size: 3rem;
      @include mixins.newHeadingShadow();
    }
    a:link {     color: #dedede; }
    a:visited {  color: #d4d4d4; }
    a:hover {    color: #d1d1d1; }
    a:active {   color: #f7f7f7; }
    a:focus {    color: #f7f7f7; }

  }
}

.menu {

  font-size: 2.5rem; 
  color: vars.$brown-q; // todo - consider moving to .menu?

  .section-title {
    color: vars.$portland-red;
    font-weight: 600;

    @include mixins.respond(tab-port) {
      font-size: 1.5em;
    }
  }
}

.menu-item {

  .item-name {
    letter-spacing: 1.1px;
    font-size: 0.8em; 
    font-weight: 600;

    @include mixins.respond(phone) {
      font-size: 1em;
    }
  }

  .item-price {
    text-align: end;
    font-size: 0.7em;

    @include mixins.respond(phone) {
      font-size: 1em;
    }
  }

  .item-notes {
    font-size: 0.6em;
    // font-weight: 100;
    font-style: italic;

    @include mixins.respond(phone) {
      font-size: 0.9em;
    }
  }

  .item-diet {
    font-size: 0.6em;
    font-weight: 500;

    @include mixins.respond(tab-port) {
      font-size: 0.9em;
    }
  }
}

.food-menu {
  p {
    font-size: 0.8em;
    font-style: italic;

    @include mixins.respond(phone) {
      font-size: 1em;
    }
  }

  .snacks .section-title{
    color: vars.$potential-blue;
  }

  .burger-addons {

    &-title {
      font-size: 0.8em;
      font-style: italic;
      
      @include mixins.respond(phone) {
        font-size: 1em;
      }
    }

    &-options {
      & div {
        font-size: 0.7em;

        @include mixins.respond(phone) {
          font-size: 0.9em;
        }
      }
    }
  }
}

.drinks-menu { 

}

.happy-hour-menu {

  .sunday-social-section {
    p {
      text-align: center;
    }
  }

  .happy-hour-section,
  .sunday-social-section {

    .section-title, .happy-hour-time {
      text-align: center;
    }

    .item-list {
      .menu-item {
        .item-name {
          font-size: 0.7em;

          @include mixins.respond(tab-port) {
            font-size: 1em;
          }
        }
        .item-price {
          font-size: 0.7em; // todo - change this?

          @include mixins.respond(tab-port) {
            font-size: 1em;
          }
        }

        .item-size {
          color: vars.$dark-font;
          font-weight: 400;
          font-size: 0.7em;
        }
      }
    }
  }
}

.packaged-section {
  .packaged-formats {
    font-size: 0.7em;
  }
}

.redwine-item-name.item-name,
.whitewine-item-name.item-name,
.bubbles-item-name.item-name {
  font-size: 0.75em;

  @include mixins.respond(phone) {
    font-size: 1em;
  }
}

.redwine-item-price.item-price,
.whitewine-item-price.item-price,
.bubbles-item-price.item-price {
  @include mixins.respond(phone) {
    font-size: 1em;
  }
}

.wine-sizes {
  font-size: 0.6em;
  text-align: end;
  letter-spacing: 0.12rem;

  @include mixins.respond(phone) {
    font-size: 0.9em;
  }
}

.wine-item-varietal {
  font-size: 0.75em;

  @include mixins.respond(phone) {
    font-size: 0.9em;
  }
}

.wine-item-region {
  font-size: 0.9em;
}

.nonalc-item.menu-item {
  .nonalc-item-name.item-name {
    font-size: 0.65em;

    @include mixins.respond(phone) {
      font-size: 1em;
    }
  }
}