$light-font: #eeeeee;
$light-font-visited: #dddddd;
$light-font-hover: #ffffff;
$light-font-active: #babd9b;

$dark-font: #2d2d2d;
$soft-black: #333333;

$portland-beige: #babd9b;
$portland-off-white: #efeeec;
$portland-red: #bd141b;

$button-orange: #de841c;

$header-offset: 6rem;
$page-height: 150rem;

$phone-nav-height: 8rem;
$phone-nav-logo-height: 7rem;
$phone-side-margin: 4rem;
$phone-item-name-fontsize: 2.8rem; // unused

$mobile-nav-height: 10rem;
$mobile-nav-logo-height: 8rem;
$mobile-nav-side-pad: 3rem;

$mobile-section-font-size: 4rem;
$mobile-item-name-fontsize: 2.5rem;
$mobile-item-name-fontsize-sm: 2.2rem;
$mobile-item-price-fontsize: 2.2rem;
$mobile-item-notes-fontsize: 2.1rem;
$mobile-side-margin: 2.5rem;

$desktop-pad-top: 3rem;
$desktop-nav-height: 10rem;
$desktop-nav-logo-height: 8rem;
$desktop-section-font-size: 3rem;
$desktop-item-name-fontsize: 2rem;
$desktop-item-price-fontsize: 1.8rem;
$desktop-item-price-dot: 0.8rem;
$desktop-item-notes-fontsize: 1.8rem;
$desktop-side-margin: 6rem;






