$light-font: #eeeeee;
$light-font-visited: #dddddd;
$light-font-hover: #ffffff;
$light-font-active: #babd9b;

$dark-font: #2d2d2d;
$visible-red: rgb(230, 8, 45);
$soft-black: #333333;

$portland-beige: #babd9b;
$portland-off-white: #efeeec;
$portland-red: #bd141b;

$button-orange: #de841c;

$header-offset: 6rem;
$component-top-pad-full: 7rem;
$component-top-pad-mobile: 4rem;
$full-nav-height: 25rem;
$mobile-nav-height: 10rem;
$page-height: 150rem;

