$light-font-visited: #dddddd;
$light-font-hover: #ffffff;

$alt-dark-font: #201713;
$dark-font: #2d2d2d;
$soft-black: #424242;
$button-font-shadow: #787878;
$button-font-size: 2.5rem;
$button-font-outline: #787878e6;

$bright-brown: #9e4334;
$less-bright-brown: #a0170f;
$medium-brown: #94241e;
$brown-brown: #6a2008;

$menu-background-color: #f7f3e3;

$portland-beige: #babd9b;
$portland-off-white: #efeeec;
$portland-red: #bd141b;
$portland-red-alpha: #bd141ad7;

//////////////////////////////////
/////// NEW COLOR SCHEMES
$portland-mustard: #bdb714;
$dull-orange: #bd6314;

$portland-pink: #bd146e;
$portland-dull-red: #a33236;
$potential-blue: #146ebd;

$maybe-green: #70bd14;

/////////////////////// 
//// try this 
// #bd141b, #f7f3e3, #ecf0f1, #2b2118, #6a5d7b
$nu-beige: #f7f3e3;
$fresh-walls: #ecf0f1;
$brown-q: #2b2118; 
$faded-lavender: #6a5d7b;
$goth-lavender: #625671;

// PHONE STYLING
$phone-nav-height: 10rem;
$phone-nav-fontsize: 2.2rem;
$phone-nav-logo-height: 5rem;

$phone-item-name-fontsize: 2.2rem; 
$phone-item-notes-fontsize: 1.8rem;
$phone-item-price-fontsize: 2.1rem;
$phone-item-price-dot: 0.7rem;
$phone-item-logo-size: 2.2rem;

$phone-section-fontsize: 3.5rem;
$phone-side-margin: 2rem;

// TABLET STYLING

$mobile-nav-height: 6rem;
$mobile-nav-fontsize: 3.2rem;

$mobile-section-fontsize: 4rem;
$mobile-sub-section-fontsize: 3rem;

$mobile-item-name-fontsize: 2rem;
$mobile-item-notes-fontsize: 1.7rem;
$mobile-item-price-fontsize: 1.9rem;
$mobile-item-price-dot: 0.6rem;
$mobile-side-margin: 2.5rem;

$mobile-menu-width: 100%;

// DESKTOP STYLING

$desktop-pad-top: 4rem;
$desktop-nav-height: 15rem;
$desktop-nav-element-height: 10rem;
$desktop-nav-logo-height: 8rem;

$desktop-section-fontsize: 2.2rem;
$desktop-sub-section-fontsize: 1.5rem;

$desktop-item-base-fontsize: 1.5rem;
$desktop-item-name-fontsize: 1.8rem;
$desktop-item-notes-fontsize: 1.4rem;
$desktop-item-price-fontsize: 1.6rem;
$desktop-item-price-dot: 0.5rem;
$desktop-item-logo-size: 1.4rem;

$desktop-navhat-side-pad: 3rem;
$desktop-side-margin: 20rem;
$desktop-menu-width: 76vw;

$desktop-secondary-nav-top: 12rem;
$desktop-secondary-nav-height: 11rem;
