$light-font: #eeeeee;
$light-font-active: #babd9b;

$button-orange: #de841c;

$header-offset: 6rem;
$page-height: 150rem;

$phone-nav-logo-height: 9rem;

$mobile-item-name-fontsize-sm: 2.2rem;
$mobile-nav-logo-height: 10rem;
$mobile-nav-side-pad: 3rem;
